.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.dropbox
.git
.keepassx
.rnd
.viminfo
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Virtualenvs
.ssh/
.vim/.netrwhist
.subversion/
.wingide5
.PyCharmConfig/eval/
.PyCharmConfig/fileTemplates/internal/Python Unit Test.py
.PyCharmConfig/inspection/Default.xml
.PyCharmConfig/componentVersions/
.PyCharmConfig/quicklists/
.PyCharmConfig/tasks/
.PyCharmConfig/port
.PyCharm40/

.pyenv
.vagrant.d
.matplotlib
dump.rdb
.my.cnf
