.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.dropbox
.git
.keepassx
.rnd
.viminfo
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Virtualenvs
.ssh/
.vim/.netrwhist
.subversion/
.wingide5
.PyCharmConfig/eval/
.PyCharmConfig/fileTemplates/internal/Python Unit Test.py
.PyCharmConfig/inspection/Default.xml
.PyCharmConfig/componentVersions/
.PyCharmConfig/quicklists/
.PyCharmConfig/tasks/
.PyCharmConfig/port
.PyCharm40/

.pyenv
.vagrant.d
.matplotlib
dump.rdb
.my.cnf
.hgignore_global
.lesshst
.node_repl_history
.psql_history
.spacemacs
.trepan_hist
.wget-hsts
.cups
.gradle
.ievms
.npm
VirtualBox VMs
restarter
.mix
README
.ipython/profile_default/history.sqlite
.node-gyp
.config/copyq
.config/configstore
.config/direnv/allow
go
.oracle_jre_usage
.config/htop
