.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.dropbox
.git
.keepassx
.rnd
.viminfo
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Virtualenvs
.ssh/
.vim/.netrwhist
.subversion/
.wingide5
